/* CSS for index.html */

*{
    outline: black 2px;
}
.main-heading{
    
    box-sizing: content-box;
    height: auto;
    width: 400px;
    background-color: red; 
    font-size: 32px; 
    color: white;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.list-elements{
    margin: 20px;

}